@page
@model SchoolApp.Pages.Students.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.FirstName" class="control-label"></label>
                <input asp-for="Student.FirstName" class="form-control" />
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Student.Prefix" class="control-label"></label>
                <input asp-for="Student.Prefix" class="form-control" />
                <span asp-validation-for="Student.Prefix" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Student.LastName" class="control-label"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Student.PhoneNumber" class="control-label"></label>
                <input asp-for="Student.PhoneNumber" class="form-control" />
                <span asp-validation-for="Student.PhoneNumber" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Student.EmailAddress" class="control-label"></label>
                <input asp-for="Student.EmailAddress" class="form-control" />
                <span asp-validation-for="Student.EmailAddress" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Student.Motivation" class="control-label"></label>
                <textarea asp-for="Student.Motivation" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Student.Motivation" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <div class="table table-borderless">
                    <table>
                        <tbody>
                            @foreach (var group in Model.GroupParticipationDataList)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox"
                                                name="selectedGroups"
                                                value="@group.GroupID"
                                                @(Html.Raw(group.Participation ? "checked=\"checked\"" : "")) />
                                                @group.Name
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br>
<br>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
