/* Navigation bar */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-word;
}

.navbar-nav .nav-item .dropdown-menu {
    background-color: #ffffff;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    color: #000000;
}

.navbar-brand {
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

.navbar-brand:hover {
    color: #000000;
    border-radius: 4px;
}

/* Navigation items */
.nav-item {
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

.nav-item:hover {
    color: #000000;
    border-radius: 4px;
}

/* Navigation bar links */
.nav-link {
    color: #212529 !important
}

/* Borders */
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

/* Shadows */
.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
