/* Base styles */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Arial', sans-serif;
    margin-bottom: 60px;
}

/* Links */
a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

a:visited {
    color: #3a3a3a;
}
